@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--background: oklch(98.5% 0.002 247.839);
	--foreground: oklch(13% 0.028 261.692);
	--card: oklch(98.5% 0.002 247.839);
	--card-foreground: oklch(13% 0.028 261.692);
	--popover: oklch(98.5% 0.002 247.839);
	--popover-foreground: oklch(13% 0.028 261.692);
	--primary: oklch(21% 0.034 264.665);
	--primary-foreground: oklch(96.7% 0.003 264.542);
	--secondary: oklch(96.7% 0.003 264.542);
	--secondary-foreground: oklch(21% 0.034 264.665);
	--muted: oklch(96.7% 0.003 264.542);
	--muted-foreground: oklch(55.1% 0.027 264.364);
	--accent: oklch(96.7% 0.003 264.542);
	--accent-foreground: oklch(21% 0.034 264.665);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(92.8% 0.006 264.531);
	--input: oklch(92.8% 0.006 264.531);
	--ring: oklch(70.7% 0.022 261.325);
	--chart-1: oklch(0.81 0.1 252);
	--chart-2: oklch(0.62 0.19 260);
	--chart-3: oklch(0.55 0.22 263);
	--chart-4: oklch(0.49 0.22 264);
	--chart-5: oklch(0.42 0.18 266);
	--sidebar: oklch(96.7% 0.003 264.542);
	--sidebar-foreground: oklch(13% 0.028 261.692);
	--sidebar-primary: oklch(21% 0.034 264.665);
	--sidebar-primary-foreground: oklch(96.7% 0.003 264.542);
	--sidebar-accent: oklch(96.7% 0.003 264.542);
	--sidebar-accent-foreground: oklch(21% 0.034 264.665);
	--sidebar-border: oklch(92.8% 0.006 264.531);
	--sidebar-ring: oklch(70.7% 0.022 261.325);
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: oklch(13% 0.028 261.692);
		--foreground: oklch(96.7% 0.003 264.542);
		--card: oklch(21% 0.034 264.665);
		--card-foreground: oklch(96.7% 0.003 264.542);
		--popover: oklch(21% 0.034 264.665);
		--popover-foreground: oklch(96.7% 0.003 264.542);
		--primary: oklch(92.8% 0.006 264.531);
		--primary-foreground: oklch(21% 0.034 264.665);
		--secondary: oklch(27.8% 0.033 256.848);
		--secondary-foreground: oklch(96.7% 0.003 264.542);
		--muted: oklch(27.8% 0.033 256.848);
		--muted-foreground: oklch(70.7% 0.022 261.325);
		--accent: oklch(27.8% 0.033 256.848);
		--accent-foreground: oklch(96.7% 0.003 264.542);
		--destructive: oklch(0.704 0.191 22.216);
		--border: oklch(1 0 0 / 10%);
		--input: oklch(1 0 0 / 15%);
		--ring: oklch(55.1% 0.027 264.364);
		--chart-1: oklch(0.81 0.1 252);
		--chart-2: oklch(0.62 0.19 260);
		--chart-3: oklch(0.55 0.22 263);
		--chart-4: oklch(0.49 0.22 264);
		--chart-5: oklch(0.42 0.18 266);
		--sidebar: oklch(21% 0.034 264.665);
		--sidebar-foreground: oklch(96.7% 0.003 264.542);
		--sidebar-primary: oklch(0.488 0.243 264.376);
		--sidebar-primary-foreground: oklch(96.7% 0.003 264.542);
		--sidebar-accent: oklch(27.8% 0.033 256.848);
		--sidebar-accent-foreground: oklch(96.7% 0.003 264.542);
		--sidebar-border: oklch(1 0 0 / 10%);
		--sidebar-ring: oklch(55.1% 0.027 264.364);
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
